---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 2 - Introduction to NLTK

In part 1 of this assignment you will use nltk to explore the Herman Melville novel Moby Dick. Then in part 2 you will create a spelling recommender function that uses nltk to find words similar to the misspelling.

## Part 1 - Analyzing Moby Dick

In [2]:
import nltk
nltk.download('punkt')
import pandas as pd
import numpy as np

with open('moby.txt', 'r') as f:
    moby_raw = f.read()
    
# If you would like to work with the novel in nltk.Text format you can use 'text1'
moby_tokens = nltk.word_tokenize(moby_raw)
text1 = nltk.Text(moby_tokens)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Lucas\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

### Example 1

How many tokens (words and punctuation symbols) are in text1?

*This function should return an integer.*

In [3]:
def example_one():
    
    return len(nltk.word_tokenize(moby_raw)) # or alternatively len(text1)

example_one()

254989

In [4]:
len(text1)

254989

### Example 2

How many unique tokens (unique words and punctuation) does text1 have?

*This function should return an integer.*

In [5]:
def example_two():
    
    return len(set(nltk.word_tokenize(moby_raw))) # or alternatively len(set(text1))

example_two()

20755

### Example 3

After lemmatizing the verbs, how many unique tokens does text1 have?

*This function should return an integer.*

In [6]:
from nltk.stem import WordNetLemmatizer

def example_three():

    lemmatizer = WordNetLemmatizer()
    lemmatized = [lemmatizer.lemmatize(w,'v') for w in text1]

    return len(set(lemmatized))

example_three()

16900

### Question 1

What is the lexical diversity of the given text input? (i.e. ratio of unique tokens to the total number of tokens)

*This function should return a float.*

In [7]:
def answer_one():
    
    d = example_two()/example_one()
    
    return d

answer_one()

0.08139566804842562

### Question 2

What percentage of tokens is 'whale'or 'Whale'?

*This function should return a float.*

In [29]:
def answer_two():
    
    whale = 100 * text1.count('whale' or 'Whale') / len(text1)
    
    
    return whale

answer_two()

0.30667989599551354

### Question 3

What are the 20 most frequently occurring (unique) tokens in the text? What is their frequency?

*This function should return a list of 20 tuples where each tuple is of the form `(token, frequency)`. The list should be sorted in descending order of frequency.*

In [14]:
nltk.download('gutenberg')

[nltk_data] Downloading package gutenberg to
[nltk_data]     C:\Users\Lucas\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\gutenberg.zip.

True

In [16]:
nltk.download('genesis')

[nltk_data] Downloading package genesis to
[nltk_data]     C:\Users\Lucas\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\genesis.zip.

True

In [20]:
from nltk import FreqDist

In [61]:
fdist1 = FreqDist(text1)

def answer_three():

    top20 = fdist1.most_common(20)
    
    
    return top20

answer_three()

[(',', 19204),
 ('the', 13715),
 ('.', 7308),
 ('of', 6513),
 ('and', 6010),
 ('a', 4545),
 ('to', 4515),
 (';', 4173),
 ('in', 3908),
 ('that', 2978),
 ('his', 2459),
 ('it', 2196),
 ('I', 2097),
 ('!', 1767),
 ('is', 1722),
 ('--', 1713),
 ('with', 1659),
 ('he', 1658),
 ('was', 1639),
 ('as', 1620)]

### Question 4

What tokens have a length of greater than 5 and frequency of more than 150?

*This function should return a sorted list of the tokens that match the above constraints. To sort your list, use `sorted()`*

In [62]:
moby_frequency_frame = pd.DataFrame(fdist1.most_common(),
                                        columns=["token", "frequency"])

In [63]:
moby_frequency_frame

                  token  frequency
0                     ,      19204
1                   the      13715
2                     .       7308
3                    of       6513
4                   and       6010
5                     a       4545
6                    to       4515
7                     ;       4173
8                    in       3908
9                  that       2978
10                  his       2459
11                   it       2196
12                    I       2097
13                    !       1767
14                   is       1722
15                   --       1713
16                 with       1659
17                   he       1658
18                  was       1639
19                   as       1620
20                   ''       1615
21                   's       1585
22                   ``       1456
23                  all       1444
24                  for       1413
25                 this       1280
26                   at       1230
27                  not       1170
28                   by       1135
29                  but       1110
...                 ...        ...
20725     intermixingly          1
20726          ironical          1
20727       coincidings          1
20728        destroying          1
20729        backwardly          1
20730          sky-hawk          1
20731        tauntingly          1
20732       incommoding          1
20733         intercept          1
20734          etherial          1
20735            thrill          1
20736        death-gasp          1
20737          Epilogue          1
20738              ONLY          1
20739           ESCAPED          1
20740              THEE          1
20741         halfspent          1
20742           suction          1
20743           closing          1
20744       button-like          1
20745             Ixion          1
20746              Till          1
20747         liberated          1
20748            Buoyed          1
20749         dirgelike          1
20750          padlocks          1
20751          sheathed          1
20752  devious-cruising          1
20753         retracing          1
20754            orphan          1

[20755 rows x 2 columns]

In [78]:
def answer_four():
    """gets tokens with length > 5, frequency > 150"""
    frame =  moby_frequency_frame[(moby_frequency_frame.frequency > 150)
                                  & (moby_frequency_frame.token.str.len() > 5)]
    return frame

answer_four()

        token  frequency
86     though        335
100    before        293
104    seemed        283
117  Queequeg        252
122    little        247
125    whales        236
134   through        226
142   Captain        213
147   himself        203
153  Starbuck        193
159    almost        186
163    should        180
171    Pequod        164
182   without        154

### Question 5

Find the longest word in text1 and that word's length.

*This function should return a tuple `(longest_word, length)`.*

In [95]:
def answer_five():
    
    x = [len(w) for w in text1]
    
    y = [w for w in text1]
    
    temp = pd.DataFrame[x][y]
     
    return temp #sorted(x, reverse=True)

answer_five()

TypeError: 'type' object is not subscriptable

In [91]:
type(answer_five())

pandas.core.frame.DataFrame

### Question 6

What unique words have a frequency of more than 2000? What is their frequency?

"Hint:  you may want to use `isalpha()` to check if the token is a word and not punctuation."

*This function should return a list of tuples of the form `(frequency, word)` sorted in descending order of frequency.*

In [ ]:
def answer_six():
    
    
    return # Your answer here

answer_six()

### Question 7

What is the average number of tokens per sentence?

*This function should return a float.*

In [ ]:
def answer_seven():
    
    
    return # Your answer here

answer_seven()

### Question 8

What are the 5 most frequent parts of speech in this text? What is their frequency?

*This function should return a list of tuples of the form `(part_of_speech, frequency)` sorted in descending order of frequency.*

In [ ]:
def answer_eight():
    
    
    return # Your answer here

answer_eight()

## Part 2 - Spelling Recommender

For this part of the assignment you will create three different spelling recommenders, that each take a list of misspelled words and recommends a correctly spelled word for every word in the list.

For every misspelled word, the recommender should find find the word in `correct_spellings` that has the shortest distance*, and starts with the same letter as the misspelled word, and return that word as a recommendation.

*Each of the three different recommenders will use a different distance measure (outlined below).

Each of the recommenders should provide recommendations for the three default words provided: `['cormulent', 'incendenece', 'validrate']`.

In [ ]:
from nltk.corpus import words

correct_spellings = words.words()

### Question 9

For this recommender, your function should provide recommendations for the three default words provided above using the following distance metric:

**[Jaccard distance](https://en.wikipedia.org/wiki/Jaccard_index) on the trigrams of the two words.**

*This function should return a list of length three:
`['cormulent_reccomendation', 'incendenece_reccomendation', 'validrate_reccomendation']`.*

In [ ]:
def answer_nine(entries=['cormulent', 'incendenece', 'validrate']):
    
    
    return # Your answer here
    
answer_nine()

### Question 10

For this recommender, your function should provide recommendations for the three default words provided above using the following distance metric:

**[Jaccard distance](https://en.wikipedia.org/wiki/Jaccard_index) on the 4-grams of the two words.**

*This function should return a list of length three:
`['cormulent_reccomendation', 'incendenece_reccomendation', 'validrate_reccomendation']`.*

In [ ]:
def answer_ten(entries=['cormulent', 'incendenece', 'validrate']):
    
    
    return # Your answer here
    
answer_ten()

### Question 11

For this recommender, your function should provide recommendations for the three default words provided above using the following distance metric:

**[Edit distance on the two words with transpositions.](https://en.wikipedia.org/wiki/Damerau%E2%80%93Levenshtein_distance)**

*This function should return a list of length three:
`['cormulent_reccomendation', 'incendenece_reccomendation', 'validrate_reccomendation']`.*

In [ ]:
def answer_eleven(entries=['cormulent', 'incendenece', 'validrate']):
    
    
    return # Your answer here 
    
answer_eleven()